# Session files
*.session*

# Credentials
credentials.txt
config.ini
config.py
chats_of_+96171435483.txt

# Cache files
__pycache__/
*.pyc

# IDE-specific files
.vscode/
.idea/

# System-specific files
.DS_Store
Thumbs.db
